@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import "variables";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include BREAK($bp-tablet) {
    font-size: 58.5%;
  }
  @include BREAK($bp-mobile) {
    font-size: 50%;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: $font-family;
  font-size: $font-size-text-S;
  font-weight: $font-weight-S;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: $color-main-WHITE;
  margin-bottom: 2rem;
}

::-webkit-scrollbar-thumb {
  background: $color-hover-PURPLE;
  border-radius: $border-radius;
  transition: $transition;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-main-PURPLE;
}
.horizontal-scroll::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: $color-main-WHITE;
  margin-bottom: 2rem;
}

::-webkit-scrollbar-thumb {
  background: $color-hover-PURPLE;
  border-radius: $border-radius;
  transition: $transition;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-main-PURPLE;
}
