@import "../../styles/variables";

.dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: 9.6rem 1fr;

  .dashboardMain {
    width: 100%;
    display: grid;
    grid-template-columns: 30rem 1fr;
    overflow-y: scroll;

    &__canvas {
      width: 100%;
      @include FLEX(row, center, center);
    }
  }
}
