@import "../../styles/variables";

.register{
    height: 100vh;
    background: $color-background-Dark-Grey;
    @include Flex(row,center,center);
    
    .signup{
        background: $color-background-Grey;
        padding: 3.2rem;
        width: 40rem;
        @include Flex(column,center,center);
        border-radius:$border-radius;
        
        &__header{
            width: 100%;
            text-align: left;
            font-size: 3.2rem;
            font-weight: $font-weight-l;
            color:$color-main-Black;
            margin-bottom: 3rem;
        }
        &__component{
            width: 100%;
            @include Flex(column,center,flex-start);
            &:not(:last-child){
                margin-bottom: 2.4rem;
            }
            &--label{
                font-size: $font-size-body-M;
                font-weight: $font-weight-l;
                margin-bottom: 0.8rem;
                color:$color-medium-Grey;
            }
            &--input{
                padding: 1rem;
                border: 2px solid $color-lines-Light;
                border-radius: $border-radius;
                font-size: $font-size-body-M;
                font-weight: $font-weight-md;
                color:$color-medium-Grey;
                width: 100%;
                outline: none;
                &::placeholder{
                    font-family: $font-family;
                    color:$color-lines-Light;
                }
            }
        }
        &__submit{
            @include BTN($color-main-Purple,$color-background-Grey,$font-size-body-M,1.2rem, 3.2rem);
            width: 100%;

            &:hover,&:active{
                @include BTN-HOVER($color-hover-Purple,$color-background-Grey);
            }
        }
    }
}