@import "../../styles/variables";

.header{
    width: 100%;
    background: $color-main-White;
    @include Flex(row,space-between,center);
    border-bottom: 2px solid $color-lines-Light;

    &__logo{
        padding: 3rem 2.8rem;
        border-right: 2px solid $color-lines-Light;
    }
    
    &__nav{
        width: 100%;
        padding: 0 2.8rem;
        @include Flex(row,space-between,center);
        &--profile{
            @include Flex(row,space-between,center);
            font-size: $font-size-heading-S;
            &--name{
                margin-right: 2rem;
            }
            &--cta{
                @include BTN($color-main-Purple,$color-main-White,$font-size-heading-M,1.8rem,3.6rem);
                &:hover,&:active{
                    @include BTN-HOVER($color-hover-Purple,$color-main-White);
                }
            }
        }
    }
}