@import "../../styles/variables";

.board {
  height: 100%;
  width: 100%;
  background: $color-back-GREY;
  @include FLEX(row, flex-start, center);
  padding: 2.4rem;

  &__empty {
    width: 100%;
    height: 100%;
    @include FLEX(row, center, center);
    &--message {
      font-size: $font-size-heading-XL;
      font-weight: $font-weight-XL;
      color: $color-main-MEDIUM-GREY;
    }
    &--cta {
      @include BTN(
        $color-main-PURPLE,
        $color-main-WHITE,
        $font-size-heading-L,
        1.8rem,
        3.2rem
      );
      &:hover,
      &:active,
      &:focus {
        @include BTN-HOVER($color-hover-PURPLE, $color-main-WHITE);
      }
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    @include FLEX(row, flex-start, flex-start);
    gap: 2.4rem;
    .column {
      width: 28rem;
      @include FLEX(column, center, flex-start);
      gap: 2.4rem;
      &__header {
        color: $color-main-MEDIUM-GREY;
        font-size: $font-size-heading-S;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-2;
      }
    }
  }
}
