@import "../../styles/variables";

.subtaskFormContainer {
  width: 100%;
  height: 100%;
  background: $color-back-blur;
  position: absolute;
  z-index: 100;
  @include FLEX(row, center, center);

  .subtaskForm {
    width: 40%;
    padding: 3.2rem;
    border-radius: $border-radius;
    background: $color-main-WHITE;
    @include FLEX(column, center, center);
    gap: 2.8rem;
    position: relative;
    &__cross {
      position: absolute;
      right: 5%;
      top: 8%;
      background: transparent;
      border: none;
      cursor: pointer;
    }
    &__header {
      width: 100%;
    }

    &__description {
      font-size: $font-size-text-S;
      color: $color-main-MEDIUM-GREY;
      font-weight: $font-weight-XL;
      width: 100%;
      line-height: $line-height-L;
    }
    &__container {
      width: 100%;
      @include FLEX(column, center, center);
      &--label {
        width: 100%;
        font-size: $font-size-heading-M;
        font-weight: $font-weight-M;
        color: $color-main-MEDIUM-GREY;
        margin-bottom: 1.2rem;
      }
      &--content {
        width: 100%;
        padding: 1.2rem;
        background: $color-lines-LIGHT;
        @include FLEX(row, flex-start, center);
        border-radius: $border-radius;
        gap: 0.8rem;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        &--input {
          cursor: pointer;
        }
        &--label {
          width: 100%;
          font-size: $font-size-text-M;
          font-weight: $font-weight-XL;

          &--strike {
            color: $color-main-MEDIUM-GREY;
          }
          &--text {
            color: $color-main-DARK-GREY;
          }
        }
      }

      &--select {
        width: 100%;
        padding: 1.2rem 1.8rem;
        border-radius: $border-radius;
        border: 2px solid $color-lines-LIGHT;
        font-size: $font-size-text-M;
        font-family: $font-family;
        font-weight: $font-weight-XL;
        outline: none;
        cursor: pointer;
      }
    }

    &__cta {
      width: 100%;
      @include FLEX(row, center, center);
      gap: 1rem;
      &--submit {
        width: 50%;
        @include BTN(
          $color-main-PURPLE,
          $color-main-WHITE,
          $font-size-text-M,
          1.2rem,
          2.4rem
        );
        &:active,
        &:hover {
          @include BTN-HOVER($color-hover-PURPLE, $color-main-WHITE);
        }
      }

      &--delete {
        width: 50%;
        @include BTN(
          $color-main-RED,
          $color-main-WHITE,
          $font-size-text-M,
          1.2rem,
          2.4rem
        );
        &:active,
        &:hover {
          @include BTN-HOVER($color-hover-RED, $color-main-WHITE);
        }
      }
    }
  }
}
