/*Typography Variables*/
//Font-Family
$font-family: 'Plus Jakarta Sans', sans-serif;
//Font-Weight
$font-weight-rg:400;
$font-weight-md:500;
$font-weight-l:600;
//Font-Size
$font-size-heading-XL:2.4rem;
$font-size-heading-L:1.8rem;
$font-size-heading-M:1.5rem;
$font-size-heading-S:1.2rem;
$font-size-body-M:1.3rem;
$font-size-body-S:1.2rem;

/*Color Variables*/
$color-main-Purple:#635FC7;
$color-hover-Purple:#A8A4FF;
$color-main-Red:#EA5555;
$color-hover-Red:#FF9898;
$color-main-White: #FFFFFF;
$color-background-Grey:#F4F7FD;
$color-lines-Light:#E4EBFA;
$color-medium-Grey:#828FA3;
$color-lines-Dark:#3E3F4E;
$color-dark-Grey:#2B2C37;
$color-background-Dark-Grey:#20212C;
$color-main-Black:#000112;

/*Default Variables*/
$border-radius:6px;
$bp-mobile:25.875em;
$bp-tablet:64em;
$transition: all .3s ease;

/*Mixin*/
@mixin Flex($dir,$just,$align){
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

@mixin Break($bp){
    @media only screen and (max-width:$bp){
        @content;
    }
}

@mixin BTN($bg,$color,$size,$pt,$pb){
    color:$color;
    background:$bg;
    border-radius: 100px;
    font-weight: $font-weight-l;
    font-family: $font-family;
    font-size: $size;
    border: none;
    padding: $pt $pb;
    transition: $transition;
    cursor: pointer;
}

@mixin BTN-HOVER($bg,$color){
    color:$color;
    background:$bg;
}



