@import "../../styles/variables";

.home {
  height: 100vh;
  width: 100%;
  @include FLEX(row, center, center);
  @include BREAK($bp-tablet) {
    flex-direction: column;
    height: 90vh;
  }

  &__header {
    background: $color-main-PURPLE;
    height: 100%;
    width: 50%;
    @include FLEX(column, center, center);
    @include BREAK($bp-tablet) {
      width: 100%;
      height: 50%;
    }

    &--text {
      font-size: $font-size-heading-XXL;
      font-weight: $font-weight-XXL;
      color: $color-back-GREY;
      margin-bottom: 4rem;
      width: 100%;
      text-align: center;
    }
    &--logo {
      align-items: center;
      width: 40%;
    }
  }

  &__cta {
    background: $color-back-GREY;
    height: 100%;
    width: 50%;
    @include FLEX(column, center, center);
    @include BREAK($bp-tablet) {
      width: 100%;
      height: 50%;
    }

    &--login {
      width: 60%;
      margin-bottom: 4rem;
      @include BTN(
        $color-main-PURPLE,
        $color-back-GREY,
        $font-size-heading-L,
        1.8rem,
        2.4rem
      );
      &:active,
      &:hover {
        @include BTN-HOVER($color-hover-PURPLE, $color-main-WHITE);
      }
    }

    &--register {
      width: 60%;
      @include BTN(
        $color-main-PURPLE,
        $color-back-GREY,
        $font-size-heading-L,
        1.8rem,
        2.4rem
      );
      &:active,
      &:hover {
        @include BTN-HOVER($color-hover-PURPLE, $color-main-WHITE);
      }
    }
  }
}
