@import "../../styles/variables";

.navigation {
  background: $color-back-GREY;
  display: grid;
  grid-template-columns: 30rem 1fr;
  height: 9.7rem;

  &__header {
    border-right: 2px solid $color-lines-LIGHT;
    border-bottom: 2px solid $color-lines-LIGHT;
    width: 30rem;
    height: 100%;
    @include FLEX(row, flex-start, center);
    img {
      padding-left: 3.2rem;
    }
  }

  &__nav {
    height: 100%;
    width: 1fr;
    padding: 0 2.2rem;
    border-bottom: 2px solid $color-lines-LIGHT;
    @include FLEX(row, space-between, center);

    &--title {
      font-weight: $font-weight-XL;
    }

    &--cta {
      @include FLEX(row, space-between, center);
      gap: 2rem;

      &--user {
        font-weight: $font-weight-M;
        font-size: $font-size-heading-M;
      }

      &--create {
        img {
          margin-right: 0.8rem;
        }
        @include BTN(
          $color-main-PURPLE,
          $color-main-WHITE,
          $font-size-heading-M,
          1.2rem,
          2.4rem
        );

        &:active,
        &:hover {
          @include BTN-HOVER($color-hover-PURPLE, $color-main-WHITE);
        }
      }

      &--btn {
        @include BTN(
          $color-main-PURPLE,
          $color-main-WHITE,
          $font-size-heading-M,
          1.2rem,
          2.4rem
        );

        &:active,
        &:hover {
          @include BTN-HOVER($color-hover-PURPLE, $color-main-WHITE);
        }
      }
    }
  }
}
