@import "../../styles/variables";

.navigation {
  width: 100%;
  height: 9.6rem;
  background: $color-main-WHITE;
  display: grid;
  grid-template-columns: 30rem 1fr;

  &__header {
    @include FLEX(row, flex-start, center);
    padding-left: 3.2rem;
    border-bottom: 2px solid $color-lines-LIGHT;
    border-right: 2px solid $color-lines-LIGHT;
  }

  &__nav {
    @include FLEX(row, space-between, center);
    padding: 0 2.4rem;
    border-bottom: 2px solid $color-lines-LIGHT;
    &--menu {
      @include FLEX(row, space-between, center);
      gap: 2rem;
      &--user {
        font-size: $font-size-heading-M;
        font-weight: $font-weight-M;
      }
      &--cta {
        @include FLEX(row, center, center);
        @include BTN(
          $color-main-PURPLE,
          $color-main-WHITE,
          $font-size-heading-S,
          1.6rem,
          3.2rem
        );
        &:active,
        &:hover,
        &:focus {
          @include BTN-HOVER($color-hover-PURPLE, $color-main-WHITE);
        }
      }
    }
  }
}
